* {
    back: #232325;
    fore: #D3E8EF;
    cursor: #8095A9;
    color0: #49494B;
    color1: #191A22;
    color2: #22324A;
    color3: #2C506A;
    color4: #536D9A;
    color5: #65748F;
    color6: #618D9D;
    color7: #B8D5E0;
    color8: #80959C;
    color9: #21232D;
    color10: #2E4263;
    color11: #3A6A8E;
    color12: #6F91CD;
    color13: #879BBE;
    color14: #81BCD1;
    color15: #B8D5E0;
}

