* {
    back: #26222C;
    fore: #FDF0CC;
    cursor: #9BAEA0;
    color0: #4C4753;
    color1: #1D133C;
    color2: #2B5157;
    color3: #90305B;
    color4: #558B6A;
    color5: #BB6B57;
    color6: #BBA051;
    color7: #F4E2AD;
    color8: #AA9E79;
    color9: #271950;
    color10: #3A6C74;
    color11: #C04079;
    color12: #71B98D;
    color13: #F98F74;
    color14: #F9D56C;
    color15: #F4E2AD;
}

