* {
    back: #040000;
    fore: #FAE6D6;
    cursor: #C48B7E;
    color0: #040000;
    color1: #392F2A;
    color2: #6A231C;
    color3: #6B4735;
    color4: #9F503A;
    color5: #846E59;
    color6: #B48A68;
    color7: #EFD3BD;
    color8: #A79484;
    color9: #4C3F38;
    color10: #8E2F25;
    color11: #8F5F47;
    color12: #D46B4E;
    color13: #B09376;
    color14: #F0B88B;
    color15: #EFD3BD;
}

